.modal-container {
  position: absolute;
  min-width: 200px;
  background-color: white;
  box-shadow: inset 0 0 0 1px #e3e4e4;
  transition: all 0.3s ease-in-out;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px 0;
  /* display: flex; */
  opacity: 0;
  z-index: -1;
}

.modal-container.show {
  opacity: 1;
  z-index: 1;
}

.title-container {
  padding: 0px 15px;
  padding-top: 5px;
  padding-bottom: 15px;
  display: flex;
  font-weight: 500;
  font-size: 16px;
  border-bottom: 1px solid #e3e4e4;
  align-items: center;
  cursor: pointer;
}

.title {
  margin-left: 10px;
  font-weight: 600;
}

.filter-option {
  padding: 10px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-option:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.filter-option-text {
  margin-right: 15px;
}

.search-department-container {
  width: 400px;
  padding: 20px;
  font-size: 14px;
  font-weight: 500;
  color: rgba(122, 134, 154, 1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e3e4e4;
}

.search-department-input-container {
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 10px;
}

.search-department-input {
  flex: 1;
  padding: 15px 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  box-shadow: inset 0 0 0 1px #e3e4e4;
}

.search-department-icon {
  position: absolute;
  right: 10px;
}

.filters-list {
  list-style: none;
  padding: 10px 0px;
  max-height: 400px;
  overflow-y: auto;
}

.filters-list::-webkit-scrollbar {
  width: 6px;
}

.filters-list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.filters-list::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

.filters-list::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.department-filter-label {
  font-weight: 300;
  display: flex;
  align-items: center;
  padding: 5px 0px;
  cursor: pointer;
}

.department-filter-label:hover {
  background-color: #f5f5f5;
}

.department-filter-checkbox {
  margin: 0 10px 0 20px;
  width: 17px;
  height: 17px;
  background-color: blue;
}
